
<template name="AppNav">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <div class="app-nav">
        <ul>
            <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
            <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Users Management</span></a></li>
            <li><a href="/update/userProfileUpdate"><i class="fas fa-procedures"></i> <span>Update Profile</span></a></li>
            <li><a href="/view/userProfileView"><i class="fas fa-procedures"></i> <span>View Patient Records/Profile</span></a></li>          
        </ul>
    </div>
</template>