@import 'sass/_normalize.scss';
@import 'sass/_base.scss';


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
    
}

h1 {
    font-weight: 100;
    font-size: 3.998em;
    text-align: center;
}

h2 {
    font-weight: 100;
    font-size: 3.157em;
}

h3 {
    font-size: 1.777em;
    font-weight: 100;
}

p {
    font-size: 1em;
}

a {
    color: $accent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px 7px;
}

.btn, button {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 800;
    padding: 10px 51px 7px;
    color: #FFF;
    letter-spacing: 1px;
    border: solid 2px $action;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.btn-text {
    @extend .btn;
    background: transparent;
}

.btn-primary {
    @extend .btn;
    background: $accent;
    border: solid 2px $accent;
    &:hover {
        background: $accent - 30;
        border-color: $accent - 30;
    }
}


.header {
    background: white;
    border-bottom: 1px solid $dgrey;
    color: $text;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: $text;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }
    li + li {
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}

.login-toggle {
    cursor: pointer;
}


// Homepage
.billboard {
    background-image: url('/met-stars.png'), linear-gradient(#202023, #19283f);
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid $dgrey;
    padding: 40px 5%;
}


.app-layout {
    margin-left: 80px;
    min-height: 100vh;
    padding: 40px 60px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
    color: $text;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

table {
    font-size: 0.8em;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    tr:nth-child(even) {
        background: #EEE
    }
    td, th {
        text-align: left;
        padding: 10px 5px;
    }
    th {
        text-transform: uppercase;
        background: $dblue;
        color: #fff;
    }
     
    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
}

.user_id {
    color: $blue;
    cursor: pointer;
}

.user-edit {
    position: absolute;
    left: -300px;
    top: 0;
    background: #FFF;
    z-index: 10;
    padding: 20px;
    width: 280px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68,-0.65,0.265,1.20);
    @include card(2);
    .close-edit-mode { 
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 1.2em;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.edit-mode .user-edit {
    opacity: 1;
}

form {
    .input {
      margin-bottom: 1px;
      width: 100%;
      display: block;

      input {
        width: 100%;
        padding: .75rem;
      }
    }

    label {
      display: block;
    }

    .btn-primary {
      margin: 1em 5% 0;
      width: 90%;

      @media screen and (min-width: 40em) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }

    .at-pwd-link {
      margin-top: 1em;
    }
  }

  .panel {
    box-shadow: none;
  }
  .panel-heading {
    border-bottom: 0;
  }
  .panel-title {
    font-size: 17px;
  }
  .panel-title > small {
    font-size: .75em;
    color: #999999;
  }
  .panel-body *:first-child {
    margin-top: 0;
  }
  .panel-footer {
    border-top: 0;
  }
  
  .panel-default > .panel-heading {
      color: #333333;
      background-color: transparent;
      border-color: rgba(0, 0, 0, 0.07);
  }
  
  /**
   * Profile
   */
  /*** Profile: Header  ***/
  .profile__avatar {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .profile__avatar {
      width: 100px;
      height: 100px;
    }
  }
  .profile__avatar > img {
    width: 100%;
    height: auto;
  }
  .profile__header {
    overflow: hidden;
  }
  .profile__header p {
    margin: 20px 0;
  }
  /*** Profile: Table ***/
  @media (min-width: 992px) {
    .profile__table tbody th {
      width: 200px;
    }
  }
  /*** Profile: Recent activity ***/
  .profile-comments__item {
    position: relative;
    padding: 15px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .profile-comments__item:last-child {
    border-bottom: 0;
  }
  .profile-comments__item:hover,
  .profile-comments__item:focus {
    background-color: #f5f5f5;
  }
  .profile-comments__item:hover .profile-comments__controls,
  .profile-comments__item:focus .profile-comments__controls {
    visibility: visible;
  }
  .profile-comments__controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    visibility: hidden;
  }
  .profile-comments__controls > a {
    display: inline-block;
    padding: 2px;
    color: #999999;
  }
  .profile-comments__controls > a:hover,
  .profile-comments__controls > a:focus {
    color: #333333;
  }
  .profile-comments__avatar {
    display: block;
    float: left;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  .profile-comments__avatar > img {
    width: 100%;
    height: auto;
  }
  .profile-comments__body {
    overflow: hidden;
  }
  .profile-comments__sender {
    color: #333333;
    font-weight: 500;
    margin: 5px 0;
  }
  .profile-comments__sender > small {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
  }
  @media (max-width: 767px) {
    .profile-comments__sender > small {
      display: block;
      margin: 5px 0 10px;
    }
  }
  .profile-comments__content {
    color: #999999;
  }
  /*** Profile: Contact ***/
  .profile__contact-btn {
    padding: 12px 20px;
    margin-bottom: 20px;
  }
  .profile__contact-hr {
    position: relative;
    border-color: rgba(0, 0, 0, 0.1);
    margin: 40px 0;
  }
  .profile__contact-hr:before {
    content: "OR";
    display: block;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    color: #c6c6cc;
  }
  .profile__contact-info-item {
    margin-bottom: 30px;
  }
  .profile__contact-info-item:before,
  .profile__contact-info-item:after {
    content: " ";
    display: table;
  }
  .profile__contact-info-item:after {
    clear: both;
  }
  .profile__contact-info-item:before,
  .profile__contact-info-item:after {
    content: " ";
    display: table;
  }
  .profile__contact-info-item:after {
    clear: both;
  }
  .profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
  }
  .profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
  }
  .profile__contact-info-body a {
    color: #999999;
  }
  .profile__contact-info-body a:hover,
  .profile__contact-info-body a:focus {
    color: #999999;
    text-decoration: none;
  }
  .profile__contact-info-heading {
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #999999;
  }
  